/* colours */
/* Gold #BA890B RGB (186, 137, 11)						 */
/* Fonts */
/* font-family: 'Roboto Slab', serif;
font-family: 'Spartan', sans-serif; */
/* elements */
body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1 {
  font-family: 'Spartan', sans-serif;
}

/* global */
.container-fluid {
  padding: 7% 15%;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.vertical-centre {
  margin: auto;
}

.grey-text {
  color: grey;
}

.white-text {
  color: white;
}

.sub-heading {
  font-family: 'Spartan', sans-serif;
  font-size: 2.5rem;
}

.mugshot {
  width: 30%;
  margin: 10px;
}

.form-control:focus {
  border-color: #BA890B;
  border-width: medium;
  box-shadow: 0 0 0 0.2rem rgba(186, 137, 11, 0.25);
}

.btn-gold {
  background: #BA890B;
  background-image: -webkit-linear-gradient(top, #BA890B, #C6A247);
  background-image: -moz-linear-gradient(top, #BA890B, #C6A247);
  background-image: -ms-linear-gradient(top, #BA890B, #C6A247);
  background-image: -o-linear-gradient(top, #BA890B, #C6A247);
  background-image: linear-gradient(to bottom, #BA890B, #C6A247);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-gold:hover {
  background: #BA890B;
  border: ridge #FFFFFF 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.left-padded-col {
  padding-left: 40px;
}

.right-padded-col {
  padding-right: 40px;
}

.fine-print {
  font-style: italic;
  font-size: 0.75rem;
}

/* sections */
.black-section {
  background-color: black;
}

.white-section {
  background-color: white;
}

.coloured-section {
  background-color: #C6A247;
}

/* navbar */
.navbar-bg {
  background-color: black;
}

.navbar-img {
  text-align: left;
}

.fixed-top {
  padding-left: 15%;
  padding-right: 15%;
}

.nav-item {
  padding: 0 15px;
}

/* title */
.container-title {
  padding: 1% 15% 7% 15%;
}

.title-text {
  font-family: 'Spartan', sans-serif;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
  margin: auto;
}

.title-img {
  width: 50%;
  border-radius: 2px;
  border-color: white;
  border-width: medium;
  border-style: solid;
  z-index: -1;
  margin-top: 20px;
}

.title-row {
  margin: 10px 0 0 0;
}

/* features */
.feature-img {
  color: #BA890B;
  font-size: 3rem;
  padding: 10px;
}

.feature-img:hover {
  color: #C6A247;
}

.feature-header {
  font-family: 'Spartan', sans-serif;
}

.feature-col {
  padding: 20px;
}

/* review carousel */
.review-text {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.review-name {
  padding-top: 20px;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}

/* Delivery */
/* Social Media */
.social-col {
  padding: 10px;
}

/* Footer */
.footer-fab {
  color: black;
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}

.footer-fab:hover {
  color: #C6A247;
}

/**************************** About ***************************************/
/* title */
/**************************** Contact *************************************/
/* title */
.contact-heading {
  padding: 50px;
  font-size: 3rem;
}

.contact-form-div {
  padding-top: 50px;
}

.contact-form-entry {
  padding: 5px;
}

.contact-img {
  width: 25%;
  filter: invert(63%) sepia(23%) saturate(7155%) hue-rotate(16deg) brightness(91%) contrast(91%);
}

.contact-img:hover {
  filter: invert(73%) sepia(17%) saturate(1426%) hue-rotate(5deg) brightness(89%) contrast(82%);
}

.contact-location {
  font-weight: bold;
}

.contact-hr {
  border-color: #BA890B;
}

.contact-details {
  padding: 0px 40px 40px 50px;
}

.contact-details-entry {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-fab {
  color: #BA890B;
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}

.contact-fab:hover {
  color: #C6A247;
}

/************************************   Gallery   *********************************/

/* title */
#gallery {
  margin-top: 50px;
}

.black-modal {
  background-color: black;
}

.carousel-image {
  padding-left: 10px;
  padding-right: 10px;
}

/* .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
/************************************ Media Rules *********************************/
@media (max-width: 1200px) {
  .social-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 900px) {
  .social-col {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1028px) {
  .title-row {
    margin-top: 20px;
    text-align: center;
  }

  .title-text {
    text-align: center;
    margin-top: 10px;
  }

  .title-img {
    margin-top: 20px;
  }

  .container-fluid {
    padding: 7% 5%;
  }

  .container-title {
    padding: 1% 5% 7% 5%;
  }

  .contact-details {
    padding: 50px 40px 40px 50px;
  }

  .right-padded-col {
    padding-right: 50px;
    padding-left: 50px;
  }
}
